<a href="https://colab.research.google.com/github/AbdhMohammady/DataScience/blob/main/information-gain/gainInfo_for_decision_tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font size = 20><b> Information gain, Gain ratio, Gini Index</b></font>

using discrete data

<a href="mailto:abdhmohammady@gmail.com" target="_blank">AbdhMohammady@gmail.com</a>

https://github.com/AbdhMohammady

Telegram: @AbdhMohammady

Instagram: @AbdhMohammady


In this notebook we want to present the implementation of computations to find decision tree nodes for discrete data. In the following, we explain the two methods  <b>'Entropy'</b> and <b>'Gini index'</b> to calculate the value of information gain

In [ ]:
import pandas as pd
import numpy
import math # to use log function

In [108]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [109]:
df = pd.read_csv("AbdhMohammady/DataScience/information-gain/Information-gain-sample.csv")
df.head(14)

       Credit     Age  Income Education  Buy
0        Good   Young    High      Good   No
1   Excellent   Young    High      Good   No
2        Good  Middle    High      Good  Yes
3        Good     Old  Middle      Good  Yes
4        Good     Old    High       Bad  Yes
5   Excellent     Old    High       Bad   No
6   Excellent  Middle    High       Bad  Yes
7        Good   Young  Middle      Good   No
8        Good   Young    High       Bad  Yes
9        Good     Old  Middle       Bad  Yes
10  Excellent   Young  Middle       Bad  Yes
11  Excellent  Middle  Middle      Good  Yes
12       Good  Middle    High       Bad  Yes
13  Excellent     Old  Middle      Good   No

The following relation is used to calculate the entropy of the data set,
Where D is the dataset and Cj , j : 1,…, n are classes of target column, we suppose |Cj| denotes number of observations for class Cj, thus entropy of D is: 

$${Entropy}\left({D}\right)=-\sum_{{j}=\mathbf{1}}^{{n}}{\frac{\left|{C}_{j}\right|}{\left|{D}\right|}\times{ln}\frac{\left|{C}_{j}\right|}{\left|{D}\right|}}$$

This relation performs n times of multiplication, n times of logarithm calculation and 2n times of division.

Now we manipulate this relation a little:

$${Entropy}\left({D}\right)= -\frac{\mathbf{1}}{|{D}|}\sum_{{j}= \mathbf{1}}^{{n}}{|{C}_{j}|\times{ln}\frac{|{C}_{j}|}{|{D}|}}=-\frac{\mathbf{1}}{|{D}|}\sum_{{j}=\mathbf{1}}^{{n}}{|{C}_{j}|\times({ln}|{C}_{j}|-{ln}|{D}|)}$$

$$=-\frac{\mathbf{1}}{|{D}|}\sum_{{j}=\mathbf{1}}^{{n}}{(|{C}_{j}|\times{ln}|{C}_{j}|-|{C}_{j}|\times{ln}|{D}|)}=-\frac{\mathbf{1}}{|{D}|}(\sum_{{j}=\mathbf{1}}^{{n}}{|{C}_{j}|\times{ln}|{C}_{j}|}-\sum_{{j}=\mathbf{1}}^{{n}}{|{C}_{j}|\times{ln}|{D}|})$$

$$=-\frac{\mathbf{1}}{|{D}|}(\sum_{{j}=\mathbf{1}}^{{n}}{|{C}_{j}|\times{ln}|{C}_{j}|}-{ln}|{D}|\sum_{{j}=\mathbf{1}}^{{n}}{|{C}_{j}|})=-\frac{\mathbf{1}}{|{D}|}(\sum_{{j}=\mathbf{1}}^{{n}}{|{C}_{j}|\times{ln}|{C}_{j}|}-|{D}|{ln}|{D}|)$$

$$=-\frac{\mathbf{1}}{|{D}|}\sum_{{j}=\mathbf{1}}^{{n}}{|{C}_{j}|\times{ln}|{C}_{j}|}\ +{ln}|{D}|$$


Now I will rewrite the last relation:

$${Entropy}({D})= {ln}|{D}|-\frac{\mathbf{1}}{|{D}|}\sum_{{j}=\mathbf{1}}^{{n}}{|{C}_{j}|\times{ln}|{C}_{j}|}$$


With a little precision, we can see that this last relation performs n+1 times of multiplication, n+1 times of addition, n+1 times of logarithm, and one time of division.

I use the last relation.

<font size = 20><b>Step 1 :</b></font> In this step we need get classes of the target column and number of observeations for each class.

In [110]:
# find all classes of target column
target_column ='Buy'

classes = numpy.array(pd.Categorical(df[target_column]).categories)

In [111]:

sum_ = 0

#computing sumation part of above relation
for cls in classes:
    len_ = len(df[df[target_column]==cls]) 
    sum_ += len_*math.log(len_)

len_dataset = len(df)
#computeing the final result and get entropy of the dataset
dataset_entropy = math.log(len_dataset) - sum_/len_dataset

print("Entropy of the dataset :", dataset_entropy)

Entropy of the dataset : 0.651756561172653

<font size = 20><b>Step 2 :</b></font> 
Now, suppose Fi, i: 1 ,…, m are features of the dataset and the feature i has categories indexed Fir , r : 1,…,k
We denote number of observations of class j in the category r of feature i by |Fir(Cj)|. To calculate the entropy of Fi, first need to calculate entropy of Fir, computation of entropy of Fir is similar to D. The final results is as follows:

$${Entropy}\left({F}_{{ir}}\right)=-\sum_{{j}=\mathbf{1}}^{{n}}{\frac{\left|{{F}_{{ir}}({C}}_{j})\right|}{\left|{F}_{{ir}}\right|}\times{ln}\frac{\left|{{F}_{{ir}}({C}}_{j})\right|}{\left|{F}_{{ir}}\right|}}={ln}|{F}_{{ir}}|-\frac{\mathbf{1}}{|{F}_{{ir}}|}\sum_{{j}=\mathbf{1}}^{{n}}{|{{F}_{{ir}}({C}}_{j})|\times{ln}|{{F}_{{ir}}({C}}_{j})|}$$


<font size = 20><b>Step 3 :</b></font> And then we use the following relation to get the entropy Fi: 
$${Entropy}\left({F}_{i}\right)=-\frac{{1}}{|{D}|}\sum_{r=\mathbf{1}}^{k}{|{F}_{{ir}}|\times{Entropy}({F}_{{ir}})}$$

Finally Gain of Fi is:
$${Gain}({F}_{i})={Entropy}({D})\ -\ {Entropy}({F}_{i})$$

When the number of categories in a feature exceeds a reasonable value, this method tends to select these types of features as features with more information. Because the sum of the series becomes a large number at a very high number. Therefore, to reduce this effect, the concept of split information is used, which is as follows.

$${SplitInfo}\left({F}_{i}\right)=-\frac{\mathbf{1}}{|{D}|}\sum_{{r}=\mathbf{1}}^{{k}}{|{F}_{{ir}}|\times{ln}(\frac{|{F}_{{ir}}|}{|{D}|})=}\  {ln}|{D}|-\ \frac{\mathbf{1}}{|{D}|}\sum_{{r}=\mathbf{1}}^{{k}}{|{F}_{{ir}}|\times{ln}|{F}_{{ir}}|}$$


And in this way, a more suitable value called the information gain ratio is obtained, this is:

$${GainRatio}({F}_{i})=\frac{{Gain}({F}({i}))}{{SplitInfo}({F}_{i})}$$

The result of this method is not much different from the result of gain information when the number of categories is small.

In [112]:
#returns features of the dataset by removeing target column
features = df.columns.delete(4)
# we store gain information as a list which each item is a list of three value [feature name , gain info , gain ratio ]
gain_info = []
# 'feature' is used instead of Fi
for feature in features:
    #get categories of the 'feature'
    categories = numpy.array(pd.Categorical(df[feature]).categories)
    # this is calculates sum of | Fir | * Entropy(Fir)
    sum_entropy_part_feature = 0
    sum_split_info = 0
    # 'category' is used instead of Fir
    for category in categories:
        # equal to |Fir|
        len_cat = len (df[df[feature]==category])

        sum_entropy = 0
       
        # 'classes' is defined and processed in step 1
        for cls in classes:
            part_cls = df[df[target_column]==cls]
            part_category = part_cls[part_cls[feature]==category]
            # the len_ equal to |Fir(Cj)|
            len_ = len(part_category)
            if len_>0 : sum_entropy += len_*math.log(len_)
           
        # entropy of Fir
        entropy_Fir = math.log(len_cat) - sum_entropy/len_cat 

        sum_entropy_part_feature += len_cat * entropy_Fir
        #
        sum_split_info += len_cat * math.log(len_cat)
        # end of loop --> for category
    # 
    feature_entropy = - sum_entropy_part_feature/len_dataset
    
    feature_splitInfo = math.log(len_dataset) - sum_split_info/len_dataset

    gain_feature = dataset_entropy - feature_entropy 

    gain_info.append([feature , gain_feature , gain_feature / feature_splitInfo])

gain_info

[['Credit', 1.2701540069090913, 1.8599193627467494],
 ['Age', 1.132479180464979, 1.0357649232970365],
 ['Income', 1.3025844836749911, 1.907408148635627],
 ['Education', 1.198268772667093, 1.7287364159789202]]

<font size = 20><b>Step 4 :</b></font>In this step, we have to select the feature that has the biggest information gain as the node of the tree

In [113]:
#get maximum value in the gain info list
max_info = gain_info[0]
for info in gain_info:
    # In this condition, if you use index 1, the information features is compared based on gain info, and if you use index 2, it is based on gain ratio.
    if info[2] > max_info[2] : max_info = info

max_info

['Income', 1.3025844836749911, 1.907408148635627]

So far we have only calculated the root node, from this step onwards we must first split the data using the found node. Then, to continue the work, we repeat the same process for each part, that is, each part plays the role of a dynasty and a node is found for it according to the above steps to reach the end of the leaves.

In [ ]:
#!pip install rich

In [ ]:
from rich.console import Console
from rich.table import Table

console = Console()

In [117]:
node = max_info[0]

categories = numpy.array(pd.Categorical(df[node]).categories)

parts = []

for category in categories:
    table = Table("From "+ node + ", Category : "+category)
    d = df[df[node]==category]
    table.add_row(d.to_string())
    console.print(table)

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ From Income, Category : High                ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┩
│        Credit     Age Income Education  Buy │
│ 0        Good   Young   High      Good   No │
│ 1   Excellent   Young   High      Good   No │
│ 2        Good  Middle   High      Good  Yes │
│ 4        Good     Old   High       Bad  Yes │
│ 5   Excellent     Old   High       Bad   No │
│ 6   Excellent  Middle   High       Bad  Yes │
│ 8        Good   Young   High       Bad  Yes │
│ 12       Good  Middle   High       Bad  Yes │
└─────────────────────────────────────────────┘

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ From Income, Category : Middle               ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┩
│        Credit     Age  Income Education  Buy │
│ 3        Good     Old  Middle      Good  Yes │
│ 7        Good   Young  Middle      Good   No │
│ 9        Good     Old  Middle       Bad  Yes │
│ 10  Excellent   Young  Middle       Bad  Yes │
│ 11  Excellent  Middle  Middle      Good  Yes │
│ 13  Excellent     Old  Middle      Good   No │
└──────────────────────────────────────────────┘

this notebook will be updated ...